header {
    background-color: var(--blue-dark);
    color: #fff;
}

.logo img {
    height: auto;
    width: 100%;
}

.icon {
    color: var(--white);
}

.formPesquisa {
    background-color: var(--white);
    border-radius: 10px;
}

.formPesquisa {
    border: solid 3px;
}

.formPesquisa select,
.formPesquisa input,
.formPesquisa button {
    height: 40px;
    border: none;
    outline: none;
}

.formPesquisa select {
    background-color: #dadada;
    padding-left: 10px;
    width: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.formPesquisa input {
    width: 48%;
}

.formPesquisa button {
    padding: 0 10px;
    width: 15%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width:760px) {
    .formPesquisa select {
        display: none;
    }

    .formPesquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;
    }
}